<div class="top_part">
    <div class="select_area">
      <p class="author">Author:</p>
      
      <div class="dropdown">
        <button (click)="toggleDropdown()" class="dropbtn">{{ selectedAuthor || 'Select Author' }}</button>
        
        <div id="myDropdown" class="dropdown-content">
          <input type="text" id="myInput" (keyup)="filterAuthors()">
          
          <div *ngFor="let a of authors" (click)="selectAuthor(a)" class="dropdown-option">
            {{ a }}
          </div>
          
          <div (click)="selectAuthor('all')" class="dropdown-option">all</div>
        </div>
      </div>
      
    </div>
</div>
