.full-photo {
    width: 90%;
    height: 90%;
    margin: 2% 5%;
    object-fit: cover;
}


.entire_photo {
    display: none;
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80%;
    height: 70%;
    background-color: white;
}
