html, body {
    height: 100%;
    margin: 0;
}

.background-image {
    background-image: url('ntt-data-1-dthj.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.rectangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.button {
    width: 80%;
    padding: 10px 0;
    font-size: 16px;
    background-color: rgb(105,105,105);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #000000;
}